#page-container {
    position: relative;
    min-height: 96vh;
  }
  
#content-wrap {   
    padding-bottom: 3.5rem;
  }
footer {
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    height: 3.5rem;
  }
#enterForm {
  text-align: left;
  display: block;
  margin:  auto;
  font-size: 150%;
  width: 30%;
  margin-top: 5rem;
  border: 3px solid green;
  min-width: fit-content;
}
textarea {
  resize: none;
}
#welcomeTitle {
  text-align: center;
  font-weight: bold;
}